.header{
  position: absolute;  
width: 390px;
height: 527px;
left: 0px;
top: 0px;

background: rgba(3, 27, 52, 0.66);
}
.navbar{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 243px;

position: absolute;
width: 344px;
height: 50px;
}
.backgroundImage{
  
width: 390px;
height: 527px;
left: 0px;
top: 0px;

}
.bitcoin{
  
  top: 60px;
}
.glass{
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;

width: 100%;
display: flex;
justify-content: space-between;
justify-items: center;
}
